/*
Arete Website by WhatAStory.in
Custom Layout styles;
Author : Manjunath G (MJN);
Twitter : http://twitter.com/manju_mjn;
Facebook : http://facebook.com/manjumjn;
Website : http://manjunathg.com;
*/
* { -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; -khtml-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; outline: none;}
*:after,*:before { box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; outline: none;}
*, *::after, *::before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
*::after, *::before {content: '';}
html { font-family: sans-serif; line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% ;}
body{ background: #fff; color:#666666; font-weight: 400; font-style: 16px; line-height: 28px; min-width: 320px; margin: 0; padding: 0; overflow-x: hidden; }
header,section,nav,footer,article,p{ display: block; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; text-decoration: none; }
a:focus,
* a:focus,
a:active,
a:hover,
* a:active,
* a:hover {
  outline: 0;
}
b, strong { font-weight: bold; }
img { display:block;border-style: none; max-width: 100%; max-height: 100%;}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

button,button:focus,button:active{
  border: 0px;
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  color: #333;
  outline: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
ul,
ol {
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ol{
  padding-left: 15px;
  list-style-type:decimal;
}

.flt-right { float: right; }
.flt-left { float: left; }
.flt-center { float: none; margin-left: auto;  margin-right: auto; }

.block{ display: block !important;}
.inline{ display: inline !important;}
.inline-block{ display: inline-block !important;}
.none{ display: none !important;}

.w100{ width:  100% !important;}
.wauto{ width:  auto !important;}

.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }

.txt-upper{ text-transform: uppercase; }
.txt-lower{ text-transform: lowercase; }
.txt-normal{ text-transform: none; }

.container {
  display: block;
  max-width: 1170px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.container-min{
  max-width: 900px !important;
}
.container.full{
  max-width: 88%;
}
.container.full-width{
  max-width: 100%;
}

.container:before,
.container:after ,
.group:before,
.group:after{
  display: table;
  line-height: 0;
  content: "";
}
.container:after,.group:after {
  clear: both;
}
.group,section {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.max-30p{ max-width: 30% !important; }
.max-40p{ max-width: 60% !important; }
.max-50p{ max-width: 50% !important; }
.max-60p{ max-width: 60% !important; }
.max-70p{ max-width: 70% !important; }
.max-80p{ max-width: 80% !important; }
.max-90p{ max-width: 90% !important; }
.max-100p{ max-width: 100% !important; }

.flex-block{
  display: flex !important;
}
.flex-center{
  justify-content: center;
  align-items: center;
}

/* Theme Styles */

body{
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
}
body.loaded {
  overflow-y: auto;
}
.lity-active body{
  overflow: hidden;
}

a {
  color: #f73c4c;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
a:hover,
a:active,
a:focus {
  color: #f02032;
}
h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #4d4c4c;
  text-rendering: optimizelegibility;
  text-transform: none;
}
h1.light,h2.light,h3.light,h4.light,h5.light,h6.light{
  font-family: "Proxima Nova Light",sans-serif;
}
h1 {
  font-size: 36px;
  line-height: 40px;
}
h2 {
  font-size: 32px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
  line-height: 40px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}


[class*="col-"]:before,
[class*="col-"]:after {
  display: table;
  line-height: 0;
  content: "";
}
[class*="col-"]:after {
  clear: both;
}
[class*="col-"] {
  display: block;
  float: left;
  zoom: 1; 
}
.col-10{ width: 10%; }
.col-20{ width: 20%; }
.col-22{ width: 22%; }
.col-25{ width: 25%; }
.col-24{ width: 24%; }
.col-18{ width: 18%; }
.col-33{ width: 33.33%; }
.col-30{ width: 30%; }
.col-40{ width: 40%; }
.col-50{ width: 50%; }
.col-60{ width: 60%; }
.col-70{ width: 70%; }
.col-75{ width: 75%; }
.col-80{ width: 80%; }
.col-90{ width: 90%; }
.col-100{ width: 100%; }

.mb20{ margin-bottom: 20px;  }

.no-padding{ padding: 0 !important; }
.no-padding-top{ padding-top: 0 !important; }

.flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.v-centered{
  align-items: center;
}

.d-column{
  flex-direction: column;
}

/** Theme Styles and Helpers **/

.thin{ font-family: 'Proxima Nova Thin' !important; font-weight: 100 !important;  }
.light{ font-family: 'Proxima Nova Light' !important; font-weight: 300 !important;  }
.regular{ font-family: 'Proxima Nova Regular' !important; font-weight: 400 !important;  }
.semibold{ font-family: 'Proxima Nova Semibold' !important; font-weight: 600 !important;  }
.bold{ font-family: 'Proxima Nova Bold'; font-weight: bold !important;  }
.extra-bold{ font-family: 'Proxima Nova Extra Bold' !important; font-weight: 800 !important;  }
.black{ font-family: 'Proxima Nova Black' !important; font-weight: 900 !important;  }

.red-bg{ background-color: #f73c4c; color: #fff; }
.red-bg-light { background: #f95a67; color: #fff; }
.grey-bg{ background: #f2f2f2; color: #fff; }
.brown-bg{ background: #584f50; color: #fff; }
.brown-bg-dark{ background: #3f3939; color: #fff; }
.shaded-grey{ background: #f8f8f8; }
.light-grey{ background: #f2f2f2; }

.section{
  padding: 120px 0;
}

.section.pad-half{
  padding: 60px 0;
}

.section.pad-less{
  padding: 30px 0;
}

.feats .container{
  max-width: 1170px;
}
.btn{
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background: transparent;
  border:2px solid #fff;
  border-radius: 2px;
  padding: 2px 21px;
}
.btn.red-coloured{
  border-color: #f02032;
  color: #f02032;
}
.btn.red-coloured:hover{
  border-color: #f02032;
  color: #fff;
  background: #f02032;
}
.btn.coloured{
  display: inline-block;
  font-size: 16px;
  background: #ef3645;
  color: #fff;
  border-color: #ef3645;
  padding: 2px 21px;
}
.btn.coloured:hover{
  background: #ff3041;
  border-color: #ff3041;
}
button.btn,button.btn:focus,button.btn:hover{
  border: 0px;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  padding:4px 21px !important;
  cursor: pointer;
}

.btn.non-coloured{
  display: inline-block;
  font-size: 18px;
  background: transparent;
  color: #fff;
  padding: 0;
  border-color: transparent;
}

/************ Styels ***********/
.header {
  display: block;
  width: 100%;
  background: #282828;
  color: #fff;
  padding: 6px 0;
  overflow: visible;
  z-index: 9999;
}
.header .logo {
display: block;
float: left;
overflow: hidden; 
margin: 15px 0 3px 0;
}
.header .logo a {
display: block; }
.header .logo a img {
  max-height: 25px; }
.header .menu {
display: block;
float: right;
list-style: none;
margin: 0;
}
.header .menu li {
display: inline;
float: left;
padding: 0px 25px;
margin: 0;
line-height: 1;
position: relative;
}
.header .menu li a {
  display: block;
  color: #f5f5f5;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
}
  .header .menu li a:hover {
    color: #ef3645; }
  .header .menu li a img {
    max-width: 24px;
    max-height: 24px;
    top: 16px; 
    position: relative;
}
.header .menu li ul.sub{
  display: block;
  position: absolute;
  right:-12px;
  z-index: 100;
  padding: 14px 0 0;
  text-align:center;
  min-width: 100px;
  transform:translateY(10px);
  opacity: 0;
  transition: ease all 0.2s;
  pointer-events: none;
}
.header .menu li ul.sub:before{
  top: -6px;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(29, 39, 46, 0);
	border-bottom-color: #282828;
	border-width: 10px;
	margin-left: -10px;
}
.header .menu li:hover > ul.sub{
  transform: none;
  opacity: 1;
  pointer-events: all;
  z-index: 1000;
}
 .header .menu li ul.sub li{
  display: block;
  padding: 0px;
  float: none;
  background: #282828;
}

.header .menu li ul.sub li:last-of-type{
  margin: 0;
}
.header .menu li ul.sub li a{
  height: auto;
  line-height: 1.5;
  padding: 10px;
  padding-right: 30px;
}
.background{
  position: relative;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-sec{
  background-image: url('../img/bg.jpg');
}
.intro-sec.dwonloads-intro-sec{
  background-image: url('../img/downloads.jpg');
  padding: 120px 0 90px;
  background-position:80% 0px;
  background-size: 110% auto;
}
.downloads .intro-sec::before{
  display: block !important;
  background: rgba(0,0,0,.3) !important;
}
.calculator .intro-sec::before{
  display: block !important;
}
.intro-sec::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/fade.png") repeat-y left top transparent !important;
  background-size: 100% !important;
  opacity: 0.5;
}
.intro-sec::before{
  display: none;
}
.contact-intro-sec.intro-sec::before{
  display: block;
}
.intro-sec.screen-intro-sec::before {
    background: rgba(8,19,21,0.68);
}
.intro-sec.contact-intro-sec{
  background-image: url('../img/contact.jpg');
  background-position: center;
} 
.intro-sec.contact-intro-sec::before,.intro-sec.dwonloads-intro-sec::before {
    background: rgba(40,40,40,0.80);
}
.intro-sec.dwonloads-intro-sec h2{
  margin: 0 0 15px;
}
.intro-sec.dwonloads-intro-sec p{
  max-width: 600px;
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 15px !important;
}
.intro-sec *{
  position: relative;
  color: #fff;
}

.section .hero-title{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 45px;
  line-height: 58px;
  margin: 0 0 35px;
  overflow: hidden;
}
.section .hero-title + p{
  font-size: 18px;
  line-height: 32px;
  margin: -10px 0 25px;
  color: #ededed;
} 
.section.screen-intro-sec .hero-title + p,.section.screen-intro-sec .btn{
  display: none;
}

.section.screen-intro-sec .hero-title{
  text-align: left;
  font-size: 36px;
  color: #111114;
  max-width: 300px !important;
  margin: -40px 0 150px;
}
.custom-size-sec .hero-title + p + p .btn{
  border-color: #ef3645;
  font-weight: 500;
  transition: ease all 0.3s;
}
.custom-size-sec .hero-title + p + p .btn:hover{
  background-color: #ef3645;
  color: #fff;
}
.intro-sec .hero-title{
  max-width: 500px;
  font-size: 40px;
}
.contact .intro-sec .hero-title{
  max-width: 300px;
  font-size: 32px;
  margin: 0 0 10px;
}
.calculator .intro-sec .hero-title{
  max-width: 500px !important;
  font-size: 32px;
  margin: 0 0 10px;
  line-height: 1.5;
}
.contact .intro-sec .hero-title + p{
  max-width: 300px;
  font-size: 16px;
  color: #fff;
}
.intro-sec.screen-intro-sec{
  background-image: url('../img/screen_hero_bg.jpg');
  background-size: cover !important;
  background-position: center;
  padding: 123px 0 70px;
}
.screen-intro-sec .container{
  max-width: 70% !important;
}
.intro-sec.screen-intro-sec .hero-title,.intro-sec.contact-intro-sec .hero-title,.intro-sec.w100 .hero-title{ max-width: 100%;}
.intro-sec.screen-intro-sec:before{
  display: none !important;
}
.intro-sec .btn .fa-play:after{
  content: '';
  position: absolute;
  left: 3px;
  top: 2px;
  display: inline-block;
  font-size: 11px;
  border:1px solid #fff;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 1;
}
.intro-sec .btn .fa-play:before{
  font-size: 6px;
  left: 10px;
  top: -3px;
  position: relative;
}

.feats{
  display: block;
  background: #202020;
  color: #fff;
  padding-top: 40px !important;
}

.feats ul{
  list-style: none;
  text-align: center;
  margin: 1px -40px;
}

.feats ul li{
  position: relative;
  display: flex;
  width: 33.33%;
  float: left;
  padding: 0px 40px;
  text-align: left;
}
.feats ul li:after{
  content: '';
  position: absolute;
  width: 1px;
  top: 12px;
  bottom: 20px;
  right: 0;
  background: #a3a2a2;
}
.feats ul li:last-child:after{
  display: none;
}
.feats ul li .icon{
  display: block;
  width: 80px;
  float: left;
}
.feats ul li:first-child .icon img{
  width: auto;
  height: 35px;
}
.feats ul li .icon img{
  width: auto;
  height: 42px;
}

.feats ul li .content{padding-left: 12px;}
.feats ul li .content h3{
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 12px;
  padding: 0 0 5px;
  overflow: hidden;
}
.feats ul li .content p{
  display: block;
  margin: 0 0 6px;
  font-size: 14px;
  line-height: 22px;
  color: #ededed;
}

.feats ul li .content a{
  display: inline-block;
  font-size: 14px;
  color: #a4a3a3;
  font-weight: 500;
}

.custom-size-sec{
  background-image: none;
  padding: 40px 0;
}
.custom-size-sec::before{
  display: none;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33,36,39,0.75);
}

.background *{
  position: relative;
}
.background p{
  color: #ededed;
}

.custom-size-sec .half,.section .half{
  width: 50%;
}
.custom-size-sec a.btn:hover,.custom-size-sec a.btn:focus,.bazel-sec a.btn:hover,.bazel-sec a.btn:focus{
  background: #fff;
  font-weight: 500;
}
.custom-size-sec .right{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  padding-right: 200px;
}
.custom-size-sec .hero-title,.custom-size-sec .hero-title + p{
  color: #222 !important;
}
.custom-size-sec .btn{
  color: #333;
  border-color: 
}
.custom-size-sec .screen-img{
  display: block;
  position: relative;
  width: 750px;
  left: -70px;
}
.custom-size-sec .screen-img .smallImg{
  position: absolute;
  display: block;
  left:0;
  bottom: 0;
  height: 75%;
}

.smallImg img{
  box-shadow: 0px 31px 98px 0px rgba(1, 1, 1, 0.57);
}

.bazel-sec {
  padding-top: 0px !important;
  background-image: -moz-linear-gradient( -51deg, rgb(32,32,32) 0%, rgb(49,49,49) 100%);
  background-image: -webkit-linear-gradient( -51deg, rgb(32,32,32) 0%, rgb(49,49,49) 100%);
  background-image: -ms-linear-gradient( -51deg, rgb(32,32,32) 0%, rgb(49,49,49) 100%);
  overflow: hidden;
}
.bazel-sec .bazel-img{
  display: block;
  position: relative;
  margin-bottom: -2px;
  overflow: hidden;
}
.bazel-sec .bazel-img img{
  max-width: 100%;
}
.bazel-sec .bazel-img:after{
  display: none;
  height: 1px;
  background: #d2d2d2;
  bottom: 2px !important;
  right: 0;
  position: absolute;
  left: 23px;
  top: auto !important;
}
.bazel-sec .container{
  padding-top: 70px;
}
.home .bazel-sec .container{
  max-width: 100%;
}

.bazel-sec.dark {
  padding-top: 110px !important;
  position: relative;
  min-height: 600px;
}

.bazel-sec .content{
  padding: 0px 100px;
}
.bazel-sec.section .hero-title{
  font-size: 32px !important;
  margin-bottom: 20px;
}
.bazel-sec.section .hero-title + p{
  font-size: 16px !important;
}
.bazel-sec.section .hero-title + p + p .btn{
  border-radius: 4px;
  border-color: #f02032; 
  border-width: 1px;
  font-size: 12px;
  font-weight: 500;
}
.materials{
  padding: 80px 0 60px;
  background: #fff;
}
.materials .section-title,.posibilities .section-title{
  display: block;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 30px;
  padding-bottom: 30px;
}

.materials .section-title h2,.posibilities .section-title h2,.posibilities .section-title p{
  color: #4d4c4c !important;
}

.materials .section-title p{
  color: #4d4c4c;
}

.materials .group{
  display: block;
  margin: 0 0 20px;
}
.materials .group .col-22 h2{
  display: block;
  padding: 30px 60px 0 0;
  font-size: 28px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.materials-slide .slick-next,.materials-slide  .slick-prev{
  margin-top: -25px;
}
.materials-slide .slick-next:before,.materials-slide  .slick-prev:before{
  width: 1em;
  height: 1em;
  position: relative;
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}
.materials-slide .slick-prev:before{
  background-image: url('../img/left_arrow.png');
}
.materials-slide .slick-next:before{
   background-image: url('../img/right_arrow.png');
}
.materials-slide .slick-next:after{
  
}
.materials .group .col-75 .col-33,.materials-slide .col-25{
  display: block;
  padding: 0px 5px;
  text-align: center;
}
.materials .group .col-75 .image,.materials-slide .image{
  display: block;
  margin: 0px;
}
.materials-slide .image img{
  float: none;
  margin: auto;
}
.materials .group .col-75 .content,.materials-slide .content{
  padding: 0 0 15px;
}
.materials .group .col-75 .content p,.materials-slide .content p{
  display: block;
  font-size: 18px;
  line-height:1.5;
  margin:0;
}
.materials .group .col-75 .content p:first-child,.materials-slide .content p{
  padding: 5px 0;
  color: #ef3645;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5px 0 -6px;
  font-size: 15px;
}
.materials .group .col-75 .content span{
  position: relative;
  font-size: 15px;
  color: #a3a2a2;
  padding: 0px 10px;
}
.materials .group .col-75 .content span:first-child:after{
  content: '';
  display: block;
  width: 1px;
  position: absolute;
  float: left;
  background: #a3a2a2;
  right: -1px;
  top: 2px;
  bottom: 2px;
}
.final-sec{
  min-height: 790px;
  padding-top: 60px;
  background-color: #010101;
  overflow: hidden;
}
.final-sec figure {
    width: 2560px;
    height: 1436px;
    background-size: 2560px 1436px;
    background-repeat: no-repeat;
    background-image: url("../img/tv_app_bg_large.png");
    left: 50%;
    margin-left: -1280px;
    position: absolute;
}
.final-sec .tv-screen{
  display: block;
  width: 512px;
  height: 288px;
  left: 50%;
  margin-left: -255px;
  position: absolute;
  top: 50%;
  margin-top: -81px;
  overflow: hidden;
}
.final-sec .tv-screen img{
  display: none;
  width: 100%;
  height: 100%;
}
.final-sec .container > .flex{
  max-width: 900px;
  margin: auto;
  flex-direction: row !important;
}

.final-sec .flex .image{
  display: inline-block;
  width: 170px;
}
.final-sec .flex .image img{
  max-height: 170px;
}
.final-sec .flex .content{
  width: 700px;
  padding: 0 40px;
}
.final-sec .flex .content p{
  display: block;
  font-size: 26px;
  line-height: 40px;
  margin:0;
  padding: 0;
}
.footer{
  display: block;
  width: 100%;
  background: #202020;
  color: #fff;
  padding: 60px 0 20px;
}

.footer ul{
  list-style: none;
  margin: 0;
}


.footer .cols .col-70{
  padding-left:50px;
}

.footer .col-30{
  padding-top: 0;
  padding-right: 45px;
}
.footer .col-30 p{
  font-size: 13px;
  line-height: 1.7;
  color: #ededed;
  margin: 20px 0 0;
}
.footer-logo img{
  max-height: 40px;
}


.footer .col-70 h4{
  display: block;
  margin: 0 0 10px;
  line-height: 1;
  padding: 0 0 5px;
  color: #fff;
  font-size: 16px;
}
.footer .list li a{
  color: #fff;
  font-size: 14px;
  color: #ededed;
  line-height: 35px;
}
.footer .list li a:hover{
  color: #ef3645;
}

.footer .smenu {
  display: block;
}
.footer .smenu ul{
  display: block;
  float: left;
}
.footer .smenu ul li{
  width: 35px;
  height: 35px;
  background: #fff;
  text-align: center;
  border-radius: 100%;
  margin-right:8px;
  transition:ease all 0.5s;
  float: left;
  margin-top: 10px;
}
.footer .smenu ul li a{
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
}
.footer .smenu ul li:hover a{
  color: #fff;
}
.footer .smenu ul li.tw:hover{
  background: #45afe1;
}
.footer .smenu ul li.fb:hover{
  background: #715efb;
}
.footer .smenu ul li.gp:hover{
  background: #f93636;
}
.footer .smenu ul li.rss:hover{
  background: #e99425;
}
.footer .smenu ul li .fa:before{
  font-size: 14px;
  top: 3px;
  position: relative;
}

.footer .content{
  padding-bottom: 60px;
  margin-bottom: 25px;
  border-bottom: 1px solid #a3a2a2;
}

.footer .copyright p{
  display: block;
  font-size: 13px;
  color: #ededed;
  overflow: hidden;
}

.contact-body{
  display: block;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 70px;
}

h4.title{
  display: block;
  font-weight: 500;
  color: #4d4c4c;
  font-size: 18px;
  line-height: 1;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.contact-body form{
  position: relative;
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-right: 90px;
}
.contact-body form:after{
  content: '';
  display: block;
  width: 1px;
  background: #eee;
  top: -25px;
  right: 40px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.contact-body form .group,.infoform .group{
  display: block;
  width: 100%;
  margin: 10px 0 40px;
  overflow: hidden;
}
.contact-body form .btn{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}
.contact-body form .half{
  display: block;
  width: 50%;
  float: left;
  overflow: hidden;
  position: relative;
}
.contact-body form .half:nth-child(even){
  padding-left: 30px;
}
.contact-body form .half:nth-child(odd){
  padding-right: 30px;
}
.contact-body form label{
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  color: #1b1b24;
  line-height: 1;
  padding-bottom: 5px;
  margin-bottom: 6px;
}
.contact-body form input,.contact-body form textarea,.contact-body form select,.infoform input,.infoform select{
  display: block;
  width: 100%;
  border:0px;
  font-size: 13px;
  padding: 7px 0;
  border-bottom: 1px solid #efefef;
  
}
.contact-body form .group,.infoform .group{
  position: relative;
}
.contact-body form .border,.infoform .border{
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #ef3645;
  left: 100%;
  right: 100%;
  transition: ease all 0.2s;
}

.contact-body form .half:nth-child(even) input:focus + .border{
  left: 30px;
  right: 0px;
}
.contact-body form .half:nth-child(odd) input:focus + .border{
  left: 0;
  right: 30px;
}
.contact-body form textarea:focus + .border,.infoform input:focus + .border{
  left: 0;
  right: 0;
}
.contact-body form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ababab;
}
.contact-body form ::-moz-placeholder { /* Firefox 19+ */
  color: #ababab;
}
.contact-body form :-ms-input-placeholder { /* IE 10+ */
  color: #ababab;
}
.contact-body form :-moz-placeholder { /* Firefox 18- */
  color: #ababab;
}


.inoutform .infoform form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ababab;
}
.inoutform .infoform form ::-moz-placeholder { /* Firefox 19+ */
  color: #ababab;
}
.inoutform .infoform form :-ms-input-placeholder { /* IE 10+ */
  color: #ababab;
}
.inoutform .infoform form :-moz-placeholder { /* Firefox 18- */
  color: #ababab;
}

.contact-body form select,.infoform select{
  -moz-appearance: none;
  -webkit-appearance: none;
}
.contact-body form textarea{
  max-height: 120px;
}
.ct-row{
  display: block;
  width: 100%;
  margin: 0 0 30px;
  float: left;
}

.contact-body .ct-row p{
  display: block;
  margin: 0;
  font-size: 12px;
  padding-right: 70px;
  overflow: hidden;
  color: #4d4c4c;
}
.posibilities{
  padding-bottom: 20px !important;
}
.posibilities .section-title h2{
  font-size: 36px;
  margin: 0 0 30px;
}
.posibilities .features-list{
  display: block;
  width: 90%;
  margin: 20px auto 30px;
  overflow: hidden;
}
.posibilities .features-list .fl-item{
  display: block;
  width: 33.33%;
  float: left;
  padding: 0px 20px;
  margin: 0 0 70px;
  text-align: center;
  overflow: hidden;
}
.posibilities .features-list .fl-item img{
  display: block;
  max-width: 95%;
  margin:  0 auto 25px;
  overflow: hidden;
}
.posibilities .features-list .fl-item .content{
  display: block;
}
.posibilities .features-list .fl-item .title{
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  margin: 0 0 5px;
  padding: 0;
  color: #ef3645;
}

.posibilities .features-list .fl-item p{
    position: relative;
    font-size: 14px;
    color: #a3a2a2;
    padding: 0px 10px;
    margin: 0;
}


.custom-sizes{
  padding: 80px 0;
  text-align: center;
}
.screen .custom-sizes .section-title + .group{
  display: block;
  float: left;
  width: 100%;
}
.custom-sizes .red-coloured:hover,.custom-sizes .red-coloured:focus{
  background: #f02032;
  color: #fff;
}
.custom-sizes .section-title {
  margin: 0 0 40px;
  float: left;
  display: block;
  width: 100%;
}
.custom-sizes .hero-title{
  color: #4d4c4c;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 10px;
  font-family: "Montserrat",sans-serif;
}

.custom-sizes .section-title p{
  color: #4d4c4c;
  font-size: 14px;
  font-weight: 500;
}
.custom-sizes .section-title p .btn{
  font-size: 12px;
  padding: 7px 11px;
  line-height: 1;
  font-weight: 400;
  border-width: 1px;
}
.custom-sizes .image{
  display: block;
  max-width: 700px;
  margin: 0 auto 0px;
}
.custom-sizes .image video{
  display: block;
  max-width: 90%;
  float: none;
  margin: auto;
  overflow: hidden;
}
.custom-sizes .image + p{
  max-width: 850px;
  margin: auto;
  font-size: 16px;
  margin-bottom: 50px;
}

.tech-spec h3.title{
  display: block;
  font-weight: 500;
  padding-left: 150px;
  margin-bottom: 30px;
}
.tech-spec .spec-col{
  padding-left: 150px;
}
.material-information .tech-spec h3.title{
  padding-left: 0;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 1.2;
  font-family: "Montserrat",sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.material-information .image-sec{
  padding-right: 50px;
}
.material-information .img-container {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 0px;
  overflow: hidden;
}
.material-information .img-container .slick-slide{
  overflow: hidden;
}
.material-information .img-container .slick-slide img{
  width: 100%;
}
.material-information .spec-btns{
  text-align: center;
}
.material-information .spec-btns .btn{
  margin-right: 10px;
  font-size: 13px;
}

.tech-spec .spec-col{
  width: 50%;
  float: left;
  padding-right: 80px;
}
.material-information .tech-spec .spec-col{
  width: 100%;
  float: left;
  padding-right: 0px;
  padding-left: 0;
}
.tech-spec .img-col{
  width: 50%;
  overflow: hidden;
}
.tech-spec .ct-row{
  margin-bottom: 20px;
}

.tech-spec .specs p{
  font-size: 13px;
  line-height: 24px;
  color: #4c4c4c;
}

.tech-spec .spec-list{
  display: block;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.tech-spec .spec-btns a{
  font-size: 12px;
  margin-right: 10px;
}

.tech-spec .spec-list span:first-child{
  display: block;
  width: 160px;
  float: left;
  color: #878787;
}

.tech-spec .spec-list span:last-child{
  color: #4c4c4c;
}

.downloads-body{
  display: block;
  padding-top: 100px !important;
  padding-bottom: 80px !important;
}
.downloads-body .container > .flex{
  margin: auto;
  flex-direction: row !important;
  flex-wrap: nowrap;
  max-width: 90%;
}

.downloads-body .flex .image{
  display: inline-block;
  width: 200px;
  max-height: 170px;
}
.downloads-body .flex .content{
  padding: 0 40px;
}
.downloads-body .flex .content p{
  display: block;
  font-size: 24px;
  line-height: 40px;
  margin:0;
  padding: 0;
  font-family: "Montserrat",sans-serif;
  color: #333;
  font-weight: 500;
}

.dlist{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px 0 80px;
}
.dlist .dlist-item{
  display: flex;
  width: 30%;
  float: left;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border: 2px solid #b5c1cd;
  border-radius: 3px;
  min-height: 280px;
  flex-direction: column;
}
.dlist .dlist-item .icon{
  display: block;
  max-width: 74px;
  margin-bottom: 15px;
}
.dlist .dlist-item h4{
  font-size: 16px;
  color: #515151;
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px !important;
}

.not-yet{
  display: block;
  text-align: center;
}
.not-yet h2{
  font-size: 26px;
  color: #4d4c4c;
  font-weight: 500;
}
.not-yet a{
  font-size: 12px;
  line-height: 2;
  color: #333 !important;
}
.not-yet .btn.red-coloured:hover {
    border-color: #f02032;
    color: #fff !important;
    background: #f02032;
}

.materials-slide {
  display: none;
  width: 100%;
  padding: 40px 0 10px !important;
  background: #eaeaea;
  overflow: hidden;
}
.materials-slide .col-25{
  width: 20%; 
  padding: 0px 15px;
  opacity: 0.4;
}
.materials-slide .col-25.active,
.materials-slide .col-25.slick-current{
  opacity: 1;
}
.material-information .sizes{
  display: inline-block;
  margin-top: 5px;
  border-radius:3px;
  border:0;
  overflow:visible;
}
.material-information .sizes span{
  display: block;
  float: left;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 1.3;
  color: #4c4c4c;
  cursor: pointer;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-right: 10px;
  transition: ease all 0.5s;
}
.material-information .sizes span:hover{
  background-color: #f5f5f5;
}
.material-information .sizes span:first-child{
/*   border-right: 1px solid #4c4c4c; */
}
.material-information .sizes span:before{
  bottom: -18px;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(29, 39, 46, 0);
  border-bottom-color: #1d272e;
  border-width: 4px;
  margin-left: 0;
  transition: ease all 0.2s;
  opacity: 0;
}
.material-information .sizes span:after{
  content: attr(title);
    display: block;
    position: absolute;
    z-index: 100;
    text-align: center;
    opacity: 0;
    transition: ease all 0.2s;
    pointer-events: none;
    background: #333;
    color: #fff;
    font-size: 10px;
    bottom: -28px;
    width: auto;
    left: -10px;
    line-height: 1;
    padding: 5px 10px;
    border-radius: 1px;
    float: none;
    transform: translateY(10px);
  min-width: 70px;
}
.material-information .sizes span:hover:after{
    transform: none;
    opacity: 1;
    pointer-events: all;
}
.material-information .sizes span:hover:before{
  bottom: -8px;
  opacity: 1;
}
.material-information{
  padding: 80px 0 100px;
}
.material-features{
  display: block;
  width: 100%;
  background: #eaeaea;
}
.material-features .mf-items-list{
  display: block;
  width: 100%;
  margin: auto;
  float: none;
  text-align: center;
}
.material-features .mf-items-list .item{
  display: block;
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 0px 50px;
}

.material-features .mf-items-list .item img{
  display: block;
  margin: 0 auto 25px; 
  max-height: 74px;
}
.material-features .mf-items-list .item h4{
    padding: 5px 0;
    color: #ef3645;
    font-weight: 500;
    text-transform: uppercase;
    margin: 5px 0px;
    font-size: 15px;
}
.material-features .mf-items-list .item p{
  display: block;
  font-size: 13px;
  line-height: 1.8;
}
.inoutform{
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.inoutform .contentwithbg{
  display: flex;
  position: relative;
  width: 55%;
  float: left;
  height: 100vh;
  background-size: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
}
.inoutform .contentwithbg.signin{
  background: url('../img/signin_bg.jpg');
  background-size: cover !important;
  background-position: center center !important;
}
.inoutform .contentwithbg.register{
  background: url('../img/signin_bg.jpg');
  background-position: center center !important;
}
.inoutform .infoform{
  display: flex;
  position: relative;
  width: 45%;
  float: left;
  height: 100vh;
  background-size: 100%;
  text-align: center;
  justify-content: center;
  align-items: left;
  flex-direction:column;
}
.inoutform .infoform span{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
}
.inoutform .infoform span a{
  color: #878787;
  position: relative;
  display: block;
  padding-left: 10px;
}
.inoutform .infoform span a:before{
  content: '';
  background: url('../img/back.png');
  display: block;
  width: 5px;
  height: 10px;
  position:absolute;
  left: 0;
  top: 9.4px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 5px;
}
.inoutform .infoform .content{
  display: block;
  max-width: 350px;
  margin: auto;
  float: none;
  width: 100%;
  text-align: left;
}
.infoform .group {
    margin: 10px 0 20px;
    display: block;
    float: left;
    width: 100%;
}
.infoform .group:nth-child(3) a{
  text-align: right;
  float: right;
  font-size: 13px;
  color: #9b9a9a;
}
.infoform .group:last-child{
  margin-bottom: 0;
}
.infoform .group:nth-last-child(2){
  margin-bottom: 0;
}
.infoform .group.fpass{
  margin-top: -10px;
  margin-bottom: 15px;
}
.inoutform .infoform form{
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
}
.inoutform .infoform .content h2{
  display: block;
  font-size: 28px;
  line-height: 1;
  margin: 0 0 30px;
  padding: 0 0 5px;
  overflow: hidden;
  font-weight: 500;
}

.inoutform .contentwithbg::before{
  content: '';
  position: absolute;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(0,0,0) 44%, rgb(128,128,128) 76%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(0,0,0) 44%, rgb(128,128,128) 76%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(0,0,0) 44%, rgb(128,128,128) 76%, rgb(255,255,255) 100%);
  opacity: 0.439;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.inoutform .contentwithbg .logo{
  position: absolute;
  top: 30px;
  z-index: 100;
  display: none;
}

.inoutform .contentwithbg .content{
  display: none;
  max-width: 70%;
  color: #fff;
  z-index: 100;
  margin-top: 60px;
}

.inoutform .contentwithbg .content h3{
  display: block;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  overflow: hidden;
}

.inoutform .contentwithbg .content p{
  display: block;
  font-size: 14px;
  line-height: 32px;
  margin: 0 0 20px;
  overflow: hidden;
  float: left;
}
.inoutform .contentwithbg .content .form{
  display: block;
  width: 100%;
  overflow: hidden;
}
.inoutform .contentwithbg .content form{
  display: block;
  width: 320px;
  height: 50px;
  float: none;
  margin: 15px auto 0;
  background: #fff;
  border-radius: 3px;
  padding: 7px;
  overflow: hidden;
}

.inoutform .contentwithbg .content .form input{
  display: block;
  width: 190px;
  float: left;
  padding: 8px;
  font-size: 14px;
  border:0px;
  margin-top: 2px;
}

.inoutform .contentwithbg .content .form button{
  display: block;
  background: #f73c4c;
  float: right;
  max-width: 100px;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
  border-radius: 3px;
  cursor: pointer;
}
.inoutform .infoform .content form button{
  display: block;
  background: #f73c4c;
  float: left;
  width: 100%;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
  border-radius: 3px;
  cursor: pointer;
}

.inoutform .infoform .content .group:last-child{
  display: block;
  font-size: 14px;
  text-align: center;
}

.intro-sec.calculator-intro-sec.lumen,.intro-sec.calculator-intro-sec{
  background-image: url('../img/lumenbg.jpg');
  background-position: center 70%;
  padding: 120px 0;
}
.intro-sec.calculator-intro-sec{
  padding: 120px 0 !important;
  background-size: 130% !important;
  background-position: center top !important;
}
/* .intro-sec.calculator-intro-sec.lumen::before{
  background: rgba(0, 0, 0, 0.56) !important;
} */
.intro-sec.calculator-intro-sec .container{
  display: block;
  overflow: visible;
}
.intro-sec.calculator-intro-sec .desc{
  display: block;
  width: 50%;
  float: left;
}
.calculator-intro-sec .img-holder{
  display: block;
  width: 50%;
  float: right;
}
.calculator-intro-sec .img{
  width: 450px;
  background: #151515;
  padding: 8px;
  float: none;
  margin: auto;
  box-shadow: 0px 31px 98px 0px rgba(1, 1, 1, 0.57);
}
.calc-body{
  display: block;
  padding: 60px 0; 
}
.calc-body .tabs-nav{
    text-align: center;
  margin-bottom: 30px;
}
.calc-body .nav-list{
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #717171;
  overflow: hidden;
}
.calc-body .nav-list li{
  display: block;
  min-width: 160px;
  font-size: 14px;
  float: left;
}
.calc-body .nav-list li.active{
  background: #555555;
  color: #fff;
  display: block;
  overflow: hidden;
}
.calc-body .nav-list li a{
  color: #717171;
  padding: 4px 15px;
  display: block;
  font-weight: 500;
}
.calc-body .nav-list li.active a{
  color: #fff;
}

.tabs-content{
  display: block;
  margin: 30px 0 0;
}
.tabs-content .flex{
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 100px;
  overflow: visible;
  width: 100%;
  float: left;
}
.tabs-content .flex.cal{
  margin:  0 0 50px;
}
.tabs-content .flex .img{
  display: flex;
  width: 65%;
  float: left;
  padding-right: 40px;
  align-items: end;
  overflow: hidden;
}
.tabs-content #lumen-sec .flex .img{
  align-items: stretch;
}
.tabs-content .flex .img > .io{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  padding: 30px;
  width: 100%;
  transition: ease all .3s;
}
.tabs-content .flex .img > .io.lc-light{
  background: #fcfcfc;
}
.tabs-content .flex .img > .io.lc-dim{
  background: #a8a8a8;
}
.tabs-content .flex .img > .io.lc-dark{
  background: #000000;
}
#lumen-sec .img img{
  display: block;
  width: auto;
  height: auto;
}

.tabs-content #lumen-sec .flex .img > .io img{
  display: none;
}
.tabs-content #lumen-sec .flex .img > .io.lc-light img.light{
  display: block;
}
.tabs-content #lumen-sec .flex .img > .io.lc-dim img.dim{
  display: block;
}
.tabs-content #lumen-sec .flex .img > .io.lc-dark img.dark{
  display: block;
}

.result .img-outer{
  display: block;
  position: relative;
}
.result .mtable{
  display: block;
  margin-top: 50px;
  text-align:center;
}
.result .mtable table{
  border-collapse: collapse;
  max-width: 82%;
  margin-bottom: 5px;
}
.result .mtable table + .anchor{
  display: block;
  width: 82%;
  font-size: 14px;
  padding-top: 5px;
}
.result .mtable table + .anchor button{
  color: #444;
  font-weight: 600;
  cursor: pointer;
}
.result .mtable th,.result .mtable td{
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  border: 2px solid #333;
  height: 50px;
  padding: 10px ;
  color: #333;
}
.result .mtable th{
  text-transform: uppercase;
}
.result .img img:last-of-type{
  display: block;
  margin-top: 50px;
}
.result .img-outer span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin-left: -7.5%;
  margin-top: -1%;
  background: #fff;
  padding: 10px 15px;
}
.result .spec-list{
  display: block;
  float: left;
  margin-top: 15px;
  width: 100%;
}
.result #result h1{
  display: block;
  font-size: 66px;
  line-height: 1.2;
  color: #ef3645;
}
#lumen-sec .result #result h1{
  font-size: 48px;
}
.tabs-content .flex .form{
  display: block;
  width: 30%;
}
.tabs-content h4.title{
  font-size: 22px;
  line-height: 1;
  margin-bottom: 5px;
  overflow: hidden;
}
.tabs-content p{
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  font-size: 14px;
  color: #4c4c4c;
  overflow: hidden;
}
.tabs-content ul{
  list-style: none;
}
.tabs-content .ct-row{
  display: block;
  float: left;
  overflow: visible;
  position: relative;
}
.tabs-content .ct-row h4{
  display: block;
  width: 100%;
  float: left;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px;
  overflow: hidden;
}
.tabs-content .ct-row input[type="text"],.tabs-content .ct-row select,.tabs-content .ct-row textarea{
  display: block;
  width: 200px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}
.tabs-content .ct-row textarea{
  width: 100%;
  min-height: 150px;
  resize: none;
}
.tabs-content .ct-row label[for="custom"] span{
  top: 15px;
}
.tabs-content .ct-row #custom_ratio{
  position: relative;
  left: -120px;
  opacity: 0;
  margin-top: -40px;
  pointer-events: none;
  transition: ease all 0.3s;
}
.tabs-content .ct-row label[for="custom"] input:checked + span + #custom_ratio{
  position: relative;
  margin-top: 12px;
  opacity: 1;
  pointer-events: all;
}
.tabs-content .ct-row span.error{
  display:block;
  position: absolute;
  font-size: 12px;
  left: 210px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 7px 15px;
  line-height: 1;
  border-radius: 4px;
}
.tabs-content .ct-row span.error:before{
  position: absolute;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8px 5px 0;
  border-color: transparent rgba(0, 0, 0, 0.85); transparent transparent;
}


.tabs-content .ct-row select{
  -wekbit-appearance:none;
  -moz-appearance:none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  color: #4c4c4c;
}
.tabs-content .ct-row label{
  display: inline-block;
  position: relative;
  float: left;
  font-size: 15px;
  margin-right: 15px;
}
.tabs-content .ct-row label input{
  opacity: 0;
}
.tabs-content .ct-row label span{
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border:1px solid #cbcbcb;
  top: 50%;
  margin-top: -7px;
  border-radius: 100px;
}
.tabs-content .ct-row label span:after{
  content: '';
  position: relative;
  height: 8px;
  width: 8px;
  display: block;
  left: 2px;
  top: 2px;
  background: #ff616e;
  border-radius: 100px;
  opacity: 0;
  transition: ease all 0.5s;
}
.tabs-content .ct-row label input:checked + span:after{
  opacity: 1;
}
.tabs-content .spec-list span{
  font-size: 14px;
}
.tabs-content .spec-list li:last-of-type span{
  display: block;
  width: 100%;
  float: left;
}
.tabs-content .spec-list > li{
  margin-bottom: 8px;
}
.tabs-content .spec-list > li > .screens{
  display: block;
  width: 100%;
  float: left;
  padding: 10px 0;
}
.tabs-content .spec-list > li > .screens li{
  display: block;
  position: relative;
  width: 30%;
  padding: 0px 10px;
  height: 100px;
  float: left;
  max-width: 100px;
  margin-right: 15px;
}
.tabs-content .spec-list > li > .screens li:last-child{
  margin-right: 0;
}
.tabs-content .spec-list > li > .screens li:hover{
  
}
.tabs-content .spec-list > li > .screens li .type{
  display: block;
  position: absolute;
  background: #ababab;
  left: 0;
  top: 0;
  right: 10px;
  bottom: 0;
  text-align: center;
  border: 4px solid transparent;
  transition: ease all 0.5s;
}
.tabs-content .spec-list > li > .screens li .type:hover{
  border-color: #333;
}
.tabs-content .spec-list > li > .screens span{
  display: inline-block;
  position: relative;
  z-index: 100;
  text-align:center;
  opacity: 0;
  transition: ease all 0.2s;
  pointer-events: none;
  background: #333;
  color: #fff;
  font-size: 10px;
  top: 100%;
  width: auto;
  left: 0;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 3px;
  float: none;
  transform: translateY(10px);
}
.tabs-content .spec-list > li > .screens span:before{
  top: -8px;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(29, 39, 46, 0);
  border-bottom-color: #1d272e;
  border-width: 4px;
  margin-left: -2px;
}
.tabs-content .spec-list > li > .screens li:hover span{
  transform: none;
  opacity: 1;
  pointer-events: all;
}
.intro-sec.calculator-intro-sec .hero-title{
  max-width: 600px;
  margin-bottom: 20px;
}
.intro-sec.calculator-intro-sec .hero-title,.intro-sec.calculator-intro-sec p{
  text-align: left !important;
}
.intro-sec.calculator-intro-sec p{
  font-size: 16px;
  color: #fff;
}
.intro-sec.calculator-intro-sec.lumen .container{
  display: block;
}

.largeImg{
  display: none;
}

.cd-logo, .cd-nav-trigger {
  position: fixed;
  display: inline-block;
}

.cd-logo {
  top: 28px;
  left: 5%;
}
.cd-logo img {
  display: block;
}

.cd-nav-trigger {
  top: 6px;
  right: 8px;
  height: 44px;
  width: 44px;
  z-index: 5;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: none;
}
.cd-nav-trigger .cd-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 3px;
  background-color: #ffffff;
  z-index: 10;
}
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon:after {
  /* upper and lower lines of the menu icon */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* apply transition to transform property */
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.cd-nav-trigger .cd-icon::before {
  -webkit-transform: translateY(-6px) rotate(0deg);
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -o-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}
.cd-nav-trigger .cd-icon::after {
  -webkit-transform: translateY(6px) rotate(0deg);
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -o-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}
.cd-nav-trigger::before, .cd-nav-trigger::after {
  /* 2 rounded colored backgrounds for the menu icon */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.cd-nav-trigger::before {
  display: none;
  background-color: #091d23;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.cd-nav-trigger::after {
  background-color: #131313;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.cd-nav-trigger.close-nav::before {
  /* user clicks on the .cd-nav-trigger element - 1st rounded background disappears */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.cd-nav-trigger.close-nav::after {
  /* user clicks on the .cd-nav-trigger element - 2nd rounded background appears */
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.cd-nav-trigger.close-nav .cd-icon {
  /* user clicks on the .cd-nav-trigger element - transform the icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.close-nav .cd-icon::before, .cd-nav-trigger.close-nav .cd-icon::after {
  background-color: white;
}
.cd-nav-trigger.close-nav .cd-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.cd-nav-trigger.close-nav .cd-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.cd-primary-nav {
  /* by default it's hidden */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 80px 5%;
  z-index: 3;
  background-color: #1d1d1d;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -moz-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
}
.cd-primary-nav li {
  margin: 1.6em 0;
  text-align: center;
  text-transform: capitalize;
  list-style: none;
}
.cd-primary-nav a {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
  color: #fff;
}
.cd-primary-nav li.lined{
  display: block;
  padding-top: 15px;
}
.cd-primary-nav li.lined a{
  display: inline-block;
  margin-right: 15px;
  border:1px solid #fff;
  padding:5px 15px;
  border-radius: 2px;
}
.cd-primary-nav li.lined a:last-child{
  margin: 0;
}
.no-touch .cd-primary-nav a:hover {
  color: #ffffff;
}
.cd-primary-nav.fade-in {
  /* navigation visible at the end of the circle animation */
  visibility: visible;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav li {
    margin: 2em 0;
    list-style: none;
  }
  .cd-primary-nav a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}
@media only screen and (min-width: 1170px) {
  
  .cd-primary-nav li {
    margin: 2.6em 0;
  }
  .cd-primary-nav a {
    font-size: 32px;
    font-size: 2rem;
  }
}

.cd-overlay-nav, .cd-overlay-content {
  /* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
  position: fixed;
  top: 6px;
  right: 8px;
  height: 4px;
  width: 4px;
  -webkit-transform: translateX(-20px) translateY(20px);
  -moz-transform: translateX(-20px) translateY(20px);
  -ms-transform: translateX(-20px) translateY(20px);
  -o-transform: translateX(-20px) translateY(20px);
  transform: translateX(-20px) translateY(20px);
}
.cd-overlay-nav span, .cd-overlay-content span {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.cd-overlay-nav.is-hidden, .cd-overlay-content.is-hidden {
  /* background fades out at the end of the animation */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-overlay-nav {
  /* main rounded colored bg 1 */
  z-index: 2;
}
.cd-overlay-nav span {
  background-color: #0c0c0c;
}

.cd-overlay-content {
  /* main rounded colored bg 2 */
  z-index: 4;
}
.cd-overlay-content span {
  background-color: #090909;
}

.cd-content {
  /* just some dummy content */
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  z-index: 1;
}

@media only screen and (max-width:1280px){
  .custom-size-sec .screen-img {
    max-width: 700px;
    position:relative;
  }
  .custom-size-sec .hero-title{
    font-size: 34px;
    line-height: 1.5;
  }
  .tech-spec.col-50{
    padding-left: 30px;
  }
  .image-sec.col-50{
    padding-right: 30px;
  }
  .intro-sec.dwonloads-intro-sec{
    background-size: cover !important;
    background-position: 55% 0px!important;
    }
}
@media only screen and (max-width:1180px){
  .custom-size-sec .screen-img {
    max-width: 650px;
    position:relative;
  }
  
  .intro-sec.calculator-intro-sec.lumen, .intro-sec.calculator-intro-sec{
    
  background-size: cover !important;
    }
  
}

@media only screen and (min-width:1400px){
  .intro-sec.dwonloads-intro-sec{
    background-size: cover !important;
    background-position:center !important;
  }
  .bazel-sec.section .hero-title{
  font-size:44px !important;
  margin-bottom: 30px;
}
  .bazel-sec .content{
    max-width: 800px;
    padding-right: 100px;
    padding-left: 50px;
  }
  .inoutform .contentwithbg.signin,.inoutform .contentwithbg.register{
    background-size: cover;
  }
  .bazel-img img{
    float: right;
    margin-top: 100px;
  }
  .home .bazel-sec .container{
    max-width: 100% !important;
  }
   .container{
    max-width: 1360px !important; 
  }
  .largeImg{display: block;}
  .smallImg{ display: none;}
  .custom-size-sec .container{
  }
  .custom-size-sec .half:first-child{
    width: 50%;
  }
  .custom-size-sec .screen-img{
    max-width: 100%;
  }
  .custom-size-sec .half:last-child{
    padding-right: 0;
  }
}
@media only screen and (min-width:1600px){
  .intro-sec.screen-intro-sec{
    background-position: center !important;
    padding: 120px 0 150px;
  }
  .tech-spec .container{
    max-width: 100% !important;
  }
  .tech-spec h3.title{
    padding-left: 100px;
    margin-top: 0px;
  }
  .tech-spec .img-col{
    width: 60%;
    padding-left: 70px;
    margin-top: -70px;
  }
  
  .tech-spec .spec-col{
    width: 40%;
    padding-left: 100px;
    padding-right: 0;
  }
  .final-sec {
    min-height: 1145px;
    background-size: auto 100% !important;
    overflow: hidden;
    padding-top: 85px;
}
.screen .bazel-sec .half:first-child {
    padding-left: 0px;
}
 .screen .bazel-sec .content {
    margin-top: -100px;
}
  .final-sec figure{
    bottom: -165px;
  }
  .final-sec .tv-screen{
  display: block;
  width: 970px;
  height: 555px;
  left: 50%;
  margin-left: -484px;
  position: absolute;
  top: 50%;
  margin-top: -202px;
  overflow: hidden;
}
}
@media only screen and (min-width:1700px){
  .tech-spec .container{
    max-width: 100% !important;
  }
  .tech-spec h3.title{
    padding-left: 150px;
    margin-top: 0px;
  }
  .tech-spec .img-col{
    width: 60%;
    padding-left: 100px;
    margin-top: -70px;
  }
  
  .tech-spec .spec-col{
    width: 40%;
    padding-left: 150px;
    padding-right: 0;
  }
}
@media only screen and (min-width:1800px){
  .intro-sec.screen-intro-sec {
    padding: 150px 0 150px;
}
  .screen .bazel-sec .half:first-child {
    padding-left: 100px;
}
  .intro-sec.dwonloads-intro-sec{
    padding: 170px 0;
  }
  .intro-sec.calculator-intro-sec.lumen, .intro-sec.calculator-intro-sec{
    padding: 160px 0;
    background-size: cover !important;
  }
  .tech-spec .container{
    max-width: 100% !important;
  }
  .tech-spec h3.title{
    padding-left: 200px;
    margin-top: 0;
  }
  .tech-spec .img-col{
    width: 60%;
    padding-left: 100px;
    margin-top: -78px;
  }
  
  .tech-spec .spec-col{
    width: 40%;
    padding-left: 200px;
  }
 
  .footer{
  padding: 0px;
  }
  .footer .container{
    padding: 60px 40px 20px;
    background: #202020;
  }
  .materials {
    padding: 0;
 }
  
  .materials .container{
    background: #fff;
    padding: 80px 0 60px;
  }
 
  .custom-size-sec .right{
    padding-right: 30px;
    padding-left: 0;
  }
  
  .bazel-sec .half:first-child{
    padding-left: 200px;
    margin-top: -70px;
  }
  .bazel-sec .half img{
    float: right;
  }
  .final-sec {
    min-height: 1060px;
    
    background-size: auto 100% !important;
    overflow: hidden;
  }
  
}
@media only screen and (min-width:1900px){
  .intro-sec.screen-intro-sec {
    padding: 8% 0;
    background-size:  100% !important;
}
  .final-sec{
    padding-top:120px;
  }
  .final-sec figure{
    bottom: -300px;
  }
  .screen .bazel-sec .half:first-child {
    padding-left: 150px;
}
  .tech-spec .container{
    max-width: 100% !important;
  }
  .tech-spec h3.title{
    padding-left: 200px;
    margin-top: 0;
  }
  .tech-spec .img-col{
    width: 60%;
    padding-left: 200px !important;
    margin-top: -150px !important;
  }
  
  .tech-spec .spec-col{
    width: 100% !important;
    padding-left: 200px;
  }
}
@media only screen and (max-width:1600px){
  .final-sec {
    min-height: 770px;
  }
  .final-sec figure{
    bottom: -165px;
    width: 1600px;
    height: 889px;
    background-size: 1600px 889px;
    margin-left: -800px;
    margin-top: -400px;
  }
  .final-sec .tv-screen{
    width: 608px;
    height: 342px;
    margin-left: -304px;
    margin-top: -123px;
  }
}

@media only screen and (max-width:1400px){
  .intro-sec.contact-intro-sec {
    background-position: center ;
  }
  .bazel-sec .content{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -50px;
  }
  .screen  .bazel-sec .content{
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 100px;
    padding-right: 0;
  }
  .screen .bazel-sec .half:first-child{
    width: 60%;
    padding-left: 100px;
  }
  .screen .bazel-sec .half:last-child{
    width: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .bazel-sec .content p{
    padding-right: 100px;
  }
  .custom-size-sec .right {
    padding-right: 0;
    padding-left: 70px;
  }
  .final-sec{
    min-height: 720px;
  }
  .final-sec figure {
    width: 1350px;
    height: 760px;
    background-size: 1350px 923px;
    margin-left: -675px;
    bottom: 0;
    margin-bottom: 0;
  }
  .final-sec .tv-screen {
    width: 510px;
    height: 289px;
    margin-left: -255px;
    margin-top: -77px;
  }
  .tech-spec h3.title,.tech-spec .spec-col {
   padding-left: 80px;
  }
}
@media only screen and (max-width:1200px){
  .intro-sec.contact-intro-sec{
    background-position: center;
  }
  .container { max-width: 90%;}
}
@media only screen and (max-width:1024px){
  .material-features .mf-items-list .item{
    padding: 0 20px;
  }
  .bazel-sec.dark{
    overflow: hidden;
  }
  .bazel-sec.dark .flex{
  overflow: hidden;
  }
  .bazel-sec.dark {
    padding-top: 50px !important;
}
  .final-sec .container > .flex{
    max-width: 90%;
    flex-wrap: wrap;
  }

.final-sec .flex .image{
  display: inline-block;
  width: 20%;
}
.final-sec .flex .content{
  width: 80%;
  padding: 0 40px;
}
  .intro-sec,.section{
    padding:60px 0;
  }
  .container{
    max-width: 90%;
  }
  .feats .container{
    max-width: 100%;
    padding: 0px 40px;
  }
  .feats ul li .icon {
      width:60px;
  }
   .custom-size-sec .screen-img {
      display: block;
      position: relative;
      max-width: 450px;
     min-width: auto;
     left: auto;
  }
  .section .hero-title {
    font-size: 36px;
    line-height: 58px;
  }
  .bazel-sec.section .half:last-child {
    width: 40%;
    display: flex;
    align-items: end;
  }
  .bazel-sec.section .half:first-child {
    width: 60%;
    padding-left: 50px;
  }
  .screen .bazel-sec .content {
    padding-left: 0;
    padding-bottom: 50px;
    margin: 0;
}
  .bazel-sec .content p {
    padding-right: 50px;
    font-size: 17px;
}
}
@media only screen and (max-height:540px){
  .inoutform{
    overflow-y: auto;
  }
}


@media only screen and (max-width:1024px){
  .specs .flex{
    flex-direction: column-reverse !important;
  }
  .specs{
    padding-left: 80px;
  }
  .material-information .specs{
    padding: 0px;
  }
  .material-information .tech-spec .spec-col{
    padding-top: 0;
  }
  .tech-spec .img-col, .tech-spec .spec-col{
    width: 100% !important;
  }
  .tech-spec .spec-col{
    padding-left: 0px;
    padding-top: 50px;
  }
  .bazel-sec.section .half:last-child {
    width: 40%;
    position: relative;
    right:0;
}
  .bazel-sec.section .half:last-child .bazel-img{
    display: flex;
    align-items: end;
  }
  
  .custom-size-sec .right {
    width: 100%;
    float: right;
    padding-right: 50px;
  }
  .custom-size-sec .left{
    position: relative;
    width: 100%;
    left:0;
  }
  .custom-size-sec .screen-img .smallImg{
    left: auto;
    right: 100px;
  }
  .custom-size-sec .screen-img .smallImg img{
    float: right;
  }
  .custom-size-sec .screen-img {
    max-width: 100%;
    margin: auto;
  }
  .feats + .custom-size-sec .flex{
    display: block;
  }
  
}
@media only screen and (max-width:980px){
  .bazel-sec.dark {
    padding-top:50px !important;
}
  .bazel-sec.section .half:last-child .bazel-img{
    min-width:600px;
  }
  .bazel-sec.section .half:last-child {
    width: 39%;
    position: relative;
    right: 0;
    bottom: -14px;
}
  .materials .group .col-22 h2 {
    padding: 10px 30px 0 0;
}
  .inoutform .contentwithbg{
    position: fixed;
    width: 100%;
  }
  .inoutform .contentwithbg .content{
    display: none;
  }
  .inoutform .infoform{
    position: relative;
    display: block;
    width: 320px;
    left: 50%;
    background: #fff;
    padding: 30px;
    float: none;
    margin: auto;
    margin-left: -160px;
    height: auto;
    bottom: -4px;
    border-radius: 4px;
    overflow: hidden;
    top: 100px;
  }
  .inoutform .infoform .content h2{
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
  }
  .feats ul li{
    display: block;
    text-align: center;
    padding:0px 20px;
  }
  .feats ul li .icon{
    display: block;
    width: 100%;
    text-align: center;
    float: none;
    margin: 0 auto 20px;
  }
  .feats ul li .icon img{
    float: none;
    display: inline;
  }
}
@media only screen and (max-width:950px){
  .custom-size-sec .left{
    position: relative;
    width: 100%;
    left:0;
    text-align: center;
  }
 .custom-size-sec.section .hero-title {
    font-size: 32px;
    line-height: 48px;
}
  .custom-size-sec.section .hero-title + p {
    font-size: 17px;
}
  
}
@media only screen and (max-width:850px){
  .header .menu li{
    padding: 0px 20px;
  }
    .intro-sec.calculator-intro-sec .desc{
    width: 90%;
  }

  .intro-sec.calculator-intro-sec.lumen, .intro-sec.calculator-intro-sec{
    padding: 80px 0 !important;
  }
}
@media only screen and (max-width:800px){
  .material-information .tech-spec .spec-col,
  .material-information .tech-spec h3.title{
    padding-left: 0;
  }
  .material-information .spec-btns .btn:last-child{
    margin: 0;
  }
  .bazel-sec.section .half:last-child {
    width: 40%;
    display: flex;
    align-items: end;
    position: relative;
    right: 20px;
}
  .custom-size-sec .left{
    left:-280px ;
  }

}
@media only screen and (max-width:768px){

   .material-features .mf-items-list .item{
     display: inline-block;
     width: 50%;
    padding: 0 20px;
  }
  .material-features .mf-items-list .item:last-child{
    float: none;
    margin-top: 30px;
  }
  .header .logo {
    margin: 5px 0 15px 0;
}

    .bazel-sec.section .half:last-child .bazel-img {
    min-width: 100%;
}
  .bazel-sec.dark .flex {
    display: block;
  }
  .dl-menuwrapper{
    display: none;
  }
  .cd-nav-trigger{
    display: block;
  }
  .downloads-body > div > .flex{
    display: block;
    text-align: center;
  }
  .downloads-body .flex .content p{
    font-size: 18px;
    line-height: 2;
  }
  .dlist{
    margin-top: 20px;
    padding: 30px 0;
    flex-wrap: wrap;
  }
  .dlist .dlist-item{
    width: 100%;
    max-width: 80%;
    margin: 0 auto 30px;
  }
  .downloads-body .flex .image {
    display: inline-block;
    width: auto;
    margin: -40px 0 30px;
}
  .contact-body [class*="col-"]{
    width: 100%;
    padding: 0px 10px;
  }
  .contact-body .col-30{
    margin-top: 50px;
  }

  .tabs-content .flex .img {
    width: 100%;
    padding-right: 0px;
}
  .tabs-content .flex .form {
    width: 100%;
    padding: 30px 20px 0;
}
  .intro-sec.screen-intro-sec{
    padding: 100px 0 0 !important;
  }
  .intro-sec,.section{
    padding:60px 0;
  }
  .intro-sec.contact-intro-sec{
    background-position: center center;
  }
  .tech-spec .container{
    padding: 0;
  }
  .tech-spec .spec-col{
    width: 100%;
  }
  .tech-spec .img-col {
    width:100%;
    overflow: hidden;
    padding-top: 15px;
  }
  .bazel-sec.section .half:first-child {
    padding: 0;
  }
  .tech-spec .spec-list{
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .tech-spec h3.title{
    margin-bottom: 10px;
  }
  .bazel-sec.dark {
    padding-top: 0px !important;
  }
  .screen .bazel-sec .content {
    padding-left: 0;
    padding-bottom: 55px;
    text-align: left;
    padding-top: 50px;
    float: right;
    padding-right: 50px;
    max-width: 85%;
}
  .bazel-sec .content p {
    padding-right: 0px !important;
    margin: 0;
}
  .section.materials{
    padding-bottom: 30px;
  }
  .header .menu li {
    padding: 0px 20px;
  }
  .container,.screen-intro-sec .container{
    max-width: 100% !important;
    padding: 0px 30px;
  }
  .contact-body form{
    padding-right: 0px
  }
  .contact-body form:after{
    display: none;
  }
  .custom-size-sec .container,.bazel-sec .container{
    padding: 0;
  }
  .bazel-sec .container .flex{
    display: block;
  }
  .custom-size-sec .container .half:first-child{
    width: 90%;
    position: relative;
    left: 0;
  }
  .custom-size-sec .screen-img .smallImg img {
    float: left;
}
  .custom-size-sec .container .half .screen-img{
    max-width: 100%;
  }
  .custom-size-sec .container .half:last-child{
    width: 100%;
    padding: 30px 50px 0;
  }
  .feats .container{
    max-width: 100%;
    padding: 0px 40px;
  }
  .feats ul li{
    display: flex;
    text-align: left;
    width: 100%;
    padding:0px 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    float: left;
  }
  .feats ul li::after {
    height: 1px;
    width: auto;
    bottom: 0;
    top: 100%;
    left: 120px;
    right: 100px;
    overflow: hidden;
    opacity: 0.5;
  }
  .feats ul li .icon {
      width:60px;
      float: left;
      margin: 0px;
      margin-right: 10px;
  }
   .custom-size-sec .screen-img {
      display: block;
      position: relative;
      max-width: 450px;
  }
  .section .hero-title {
    font-size: 30px;
    line-height: 46px;
  }
  .bazel-sec.section{
    position: relative;
  }
  .bazel-sec.section .half:last-child {
    width: 40%;
    position: relative;
    right: 0;
    bottom: 0px;
    display: none;
  }
  .bazel-sec.section.dark .half:last-child{
    display: block;
    position: relative;
    right:0;
    width: 90%;
    float: right;
  }
  .bazel-sec.section .half:first-child {
    width: 100%;
    text-align: left;
    float: left;
  }
  .bazel-sec .content {
    padding: 0px;
    max-width: 80%;
    float: none;
    margin: 30px auto 10px;
    text-align: center;
  }
  .bazel-sec .content p{
    max-width: 100%;
  }
  
  .section .hero-title + p {
    font-size: 16px;
    line-height: 32px;
    margin: -10px 0 25px;
  }
  .materials .group .col-22 h2 {
    padding: 0px 0px 10px 0;
    font-size: 26px;
    text-align: center !important;
  }
  .materials .group .col-22,.materials .group .col-75{
    display: block;
    width: 100%;
  }
  .materials .section-title {
    margin: 0 auto 0px;
    padding-bottom: 10px;
  }
  .materials .group .col-75 .content p:first-child, .materials-slide .content p {
    font-size: 14px;
  }
  .materials .group .col-75 .content span {
    font-size: 13px;
  }
  .final-sec .flex .image {
    display: inline-block;
    width: 120px;
  }
  .final-sec .flex .content{
    max-width: 80%;
  }
  .final-sec .flex .content p {
    display: block;
    font-size: 23px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }
  .footer .col-30 {
    padding-top: 0px;
    padding-right: 0;
    
    width: 60%;
    float: none;
    margin: -20px auto 50px;
    text-align: center;
}
  .footer .col-30 .footer-logo{
    float: none;
    margin: auto;
    display: inline-block;
  }
  .footer .col-30 p{
    margin-top: 10px;
  }
  .footer .cols .col-70 {
    padding-left: 0;
    width: 80%;
    float: none;
    margin: auto;
}
  .bazel-sec .content p {
    padding-right: 30px;
  }
  .bazel-sec .content{
    padding-bottom: 10px;
  }
}
@media only screen and (max-width:640px){
    .specs,.tech-spec h3.title {
    padding-left: 50px;
  }
  .screen .bazel-sec .content{
    max-width: 100%;
    padding: 40px 50px !important;
  }
  .cd-primary-nav{
    padding-top: 40px;
  }
  .header ul.menu{
  }
  .home .bazel-sec.section .half:first-child{
    padding-top: 50px;
    text-align: left;
  }
  .intro-sec.calculator-intro-sec .desc ,
  .calculator-intro-sec .img-holder{
    text-align: center !important;
    width: 100%;
}
  .intro-sec.calculator-intro-sec .hero-title {
    max-width: 100%;
    margin: 0 0 20px;
    text-align: center !important;
}
  .intro-sec.calculator-intro-sec{
    padding-top: 30px;
  }
  .tabs-content .flex{
    margin-bottom: 30px;
  }
  .lumen + .calc-body .tabs-content .img{
    padding: 0 20px;
  }
  .intro-sec.calculator-intro-sec .hero-title + p{
    text-align: center !important;
  }
  .header .logo {
    margin: 5px 0 15px 0;
  }
  .feats ul li {
    margin-bottom: 0px;
  }
  .feats ul li::after {
    display: none;
  }
  .custom-size-sec .container .half:last-child {
    width: 100%;
    padding: 30px 30px 0;
  }
   .bazel-sec.section .half:last-child {
    position: relative;
    right: 0;
    width: 90%;
    bottom: 0;
    display: block;
    float: right;
  }
  .bazel-sec .content {
    padding-left: 30px;
    padding-right: 0;
    margin-top: 0px;
    max-width: 100%;
  }
  .home .bazel-sec .content{
    text-align: left;
  }
  .bazel-sec .content p {
    max-width: 100%;
  }
  .material-information .tech-spec,.material-information .image-sec{
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .material-information .tech-spec h3.title,
  .material-information .tech-spec .spec-col{
    padding: 0px 5px;
  }
  .material-information .spec-btns{
    margin-bottom: 30px;
  }
  .materials .group .col-75 .image{
    text-align: center;
  }
  .materials .group .col-75 .image img{
    float: none;
    margin: auto;
  }
  .bazel-sec.section {
    position: relative;
    padding-bottom: 0px !important;
  }
  .bazel-sec.section *{
    opacity: 1 !important;
  }
  .materials .section-title{
    padding-bottom: 0;
  }
  .materials .cols [class*="col-"]{
    display: block;
    width: 100%;
    text-align: center !important;
  }
  .materials .group .col-22 h2{
    padding: 0 0 15px 0 !important;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }
  .final-sec .container > .flex{
    display: block;
    text-align: center;
  }
  .final-sec .flex .content{
    max-width: 100%;
    padding:0 !important;
    font-size:18px !important;
    width: 100%;
  }
  .final-sec .flex .content p{
    font-size: 18px;
    line-height: 1.8;
    margin-top: 15px;
  }
  .final-sec .tv-screen {
    width: 310px;
    height: 175px;
    margin-left: -155px;
    margin-top: -21px;
  }
  .final-sec figure {
    width: 830px;
    height: 567px;
    background-size: 830px 567px;
    margin-left: -415px;
  }
  .final-sec {
    min-height: 750px;
  }
  .footer .col-30{
    width: 100%;
  }
  .footer .col-30 p {
    max-width: 80%;
    float: none;
    margin: 10px auto 0;
  }
  .footer .cols .col-70{
    width: 100%;
  }
  .footer .cols .col-70 > .col-33{
    width: 33.33%;
    text-align:left;
  }
  .footer .cols .col-70 > .col-33:last-child{
    width: 33.33%;
    text-align: left;
    margin-top: 0;
  }
  .footer .smenu ul{
    display: inline-block;
    float: none !important;
  }
  .footer .content{
    padding-bottom: 40px;
  }
  .footer .copyright{
    text-align: center;
  }
  
}
@media only screen and (max-width:540px){
.tech-spec .spec-col {
    padding-left: 0px;
    padding-top: 20px;
  padding-right: 50px;
}
  .header ul.menu{
  }
  .header .logo {
    margin: 5px 0 15px 0;
  }
  .feats ul li {
    margin-bottom: 0px;
  }
  .feats ul li::after {
    display: none;
  }
  .custom-size-sec .container .half:last-child {
    width: 100%;
    padding: 30px 30px 0;
  }
    .bazel-sec.section .half:last-child {
    position: relative;
    right: 0;
    width: 90%;
    bottom: 0;
    float: right;
  }
  .bazel-sec .content {
    padding-left: 30px;
    padding-right: 0;
    margin-top: 0px;
    max-width: 100%;
  }
  .bazel-sec .content p {
  }
  
  .materials .group .col-75 .image{
    text-align: center;
  }
  .materials .group .col-75 .image img{
    float: none;
    margin: auto;
  }
  .bazel-sec.section {
    position: relative;
    padding-bottom: 0px !important;
  }
  .bazel-sec.section.dark{
    padding: 0 !important;
  }
  .bazel-sec.section *{
    opacity: 1 !important;
  }
  .materials .section-title{
    padding-bottom: 0;
  }
  .materials .cols [class*="col-"]{
    display: block;
    width: 100%;
    text-align: center !important;
  }
  .materials .group .col-22 h2{
    padding: 0 0 15px 0 !important;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }
  .final-sec .container > .flex{
    display: block;
    text-align: center;
  }
  .final-sec .flex .content{
    max-width: 100%;
    padding:0 !important;
    font-size:18px !important;
  }
  .final-sec .flex .content p{
    font-size: 18px;
    line-height: 1.8;
    margin-top: 15px;
  }
  .final-sec .tv-screen {
    width: 310px;
    height: 175px;
    margin-left: -155px;
    margin-top: -6px;
  }
  .final-sec figure {
    width: 830px;
    height: 567px;
    background-size: 830px 567px;
    margin-left: -415px;
  }
  .final-sec {
    min-height: 780px;
  }
  .footer .col-30{
    width: 100%;
  }
  .footer .cols .col-70{
    width: 100%;
  }
  .footer .cols .col-70 > .col-33{
    width: 50%;
    text-align:center;
  }
  .footer .cols .col-70 > .col-33:last-child{
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .footer .smenu ul{
    display: inline-block;
    float: none !important;
  }
  .footer .content{
    padding-bottom: 40px;
  }
  .footer .copyright{
    text-align: center;
  }
  
}
@media only screen and (max-width:480px){
     .material-features .mf-items-list .item,.material-features .mf-items-list .item:last-child{
     width: 100%;
    padding: 0 20px;
       margin-bottom: 50px;
  }
  .specs,.tech-spec h3.title {
    padding-left: 30px;
  }
  .bazel-sec.section {
    position: relative;
    padding-bottom: 0px !important;
  }
  .material-information .spec-btns .btn{
    font-size: 12px;
  }
}

@media only screen and (max-width:360px){
  .tech-spec .spec-col{
    padding-right: 30px;
  }
  .header .logo {
    margin: 5px 0 15px 0;
  }
  .feats ul li {
    margin-bottom: 0px;
  }
  .feats ul li::after {
    display: none;
  }
  .custom-size-sec .container .half:last-child {
    width: 100%;
    padding: 30px 30px 0;
  }
    .bazel-sec.section .half:last-child {
    position: relative;
    right: 0;
    width: 90%;
    bottom: 0;
  }
  .bazel-sec .content {
    padding-left: 30px;
    padding-right: 0;
    margin-top: 0px;
    max-width: 100%;
  }
  .bazel-sec .content p {
    max-width: 100%;
  }
  .bazel-sec.section {
    position: relative;
    padding-bottom: 0;
  }
  .bazel-sec.section.dark{
    padding: 0 !important;
  }
  .bazel-sec.section *{
    opacity: 1 !important;
  }
  .materials .section-title{
    padding-bottom: 0;
  }
  .materials .cols [class*="col-"]{
    display: block;
    width: 100%;
    text-align: center !important;
  }
  .materials .group .col-22 h2{
    padding: 0 0 15px 0 !important;
    text-align: center;
  }
  .final-sec .container > .flex{
    display: block;
    text-align: center;
  }
  .final-sec .flex .content{
    max-width: 100%;
    padding:0 !important;
    font-size:18px !important;
  }
  .final-sec .flex .content p{
    font-size: 16px;
    line-height: 1.8;
    margin-top: 15px;
  }
  .final-sec .tv-screen {
    width: 224px;
    height: 126px;
    margin-left: -112px;
    margin-top: 82px;
  }
  .final-sec figure {
    width: 600px;
    height: 410px;
    background-size: 600px 410px;
    margin-left: -300px;
    bottom: 0;
    margin-bottom: 0;
  }
  .final-sec {
    min-height: 710px;
  }
  .footer .col-30{
    width: 100%;
  }
  .footer .cols .col-70{
    width: 100%;
  }
  .footer .cols .col-70 > .col-33{
    width: 50%;
    text-align:center;
  }
  .footer .cols .col-70 > .col-33:last-child{
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .footer .smenu ul{
    display: inline-block;
    float: none !important;
  }
  .footer .content{
    padding-bottom: 40px;
  }
  .footer .copyright{
    text-align: center;
  }
  
}

@media only screen and (max-width:320px){
  .bazel-sec.section .half:last-child {
    position: relative;
    right: 0;
    width: 85%;
    bottom: 0;
  }
  .dl-menuwrapper .dl-menu{
    max-width: 100%;
    width: 100%;
    left: 0;
  }
  .dl-menuwrapper{
    max-width: 100%;
    right: 0;
  }
  .dl-menuwrapper #menu{
    margin-right: 30px;
  }
}


/* Product Viewer */
#zoom {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  display: none;
}

#view {
  margin: 0;
  width: 500px;
  height: 600px;
}

#view img {
  border-radius: 0;
}

#thumbs {
  position: relative;
  margin: 20px 0;
}

#nav-left-thumbs { left: 70px; }

#nav-right-thumbs { right: 70px; }

#nav-left-thumbs, #nav-right-thumbs {
  position: absolute;
  top: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
  font-size: 1em;
  font-weight: bold;
  color: #999;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
  cursor: pointer;
  transition-duration: .5s;
}

#nav-left-thumbs:hover, #nav-right-thumbs:hover { background: lightgrey; }

#pics-thumbs {
  position: relative;
  padding: 5px 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  transition-duration: .8s;
}

#pics-thumbs img {
  padding: 0;
  margin: 0 2px 5px;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  cursor: pointer;
  height: 75px;
  transition-duration: .5s;
  float: left;
}

.slider-for,.slider-nav{
  display: block;
  padding:0 10px 20px;
}
.slider-nav{
  margin: -10px;
}
.slider-nav .slick-slide{
  display: block;
  padding: 10px;
  overflow: hidden;
}
.ct-row .dd-container{
  display: block;
  width: 100%;
  float: left;
  position: relative;
}
.ct-row .dd-select{
  display: block;
  background: #fff !important;
  float: left;
  position: relative;
  cursor: pointer;
  height: 42px;
}
.ct-row .dd-select > input[type="hidden"]{
  display: none;
}
.ct-row .dd-select a.dd-selected,.ct-row .dd-select +.dd-options a{
  display: block;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
}
.ct-row .dd-pointer-down {
    border-top: solid 5px #cfcfcf;
}
.ct-row .dd-pointer-up {
  border: solid 5px transparent !important;
  border-bottom: solid 5px #cfcfcf !important;
}
.ct-row .dd-select +.dd-options li{
  cursor: pointer;
  display: block;
}
.ct-row .dd-select a.dd-selected img,.ct-row .dd-select +.dd-options img{
  width: 30px;
  height: 30px;
  margin-right: 15px;
  overflow: hidden;
}
.ct-row .dd-select a.dd-selected label,.ct-row .dd-select +.dd-options label{
  display: block;
  float: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  line-height:  28px !important;
  color: #333;
}
.ct-row .dd-select a.dd-selected label + .dd-desc,.ct-row .dd-select +.dd-options label + .dd-desc{
  display: none;
}
.ct-row .dd-select + .dd-options{
  position: absolute;
  top: 42px;
  left: 0;
}

.estimate{
  display: block;
  width: 100%;
  max-width: 1000px;
  float: none;
  margin: 50px auto;
  overflow: hidden;
}
.estimate .eheader{
  display: block;
  width: 100%;
  margin: 0 0 30px;
  overflow: hidden
}
.estimate .eheader .logo{
  display: block;
  width: 170px;
  float: left;
  margin-left: -10px;
}

.estimate .eheader .title{
  display: block;
  float: right;
  text-align: right;
  overflow: hidden;
}

.estimate .eheader .title h1{
  display: block;
  font-size: 42px;
  font-weight: 400;
  color: #222;
  margin: 0 0 5px;
}

.estimate .eheader .title span{
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.estimate address{
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 30px;
  color: #323232;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  overflow: hidden;
}

.estimate address .title{
  display: block;
  font-weight: 600;
  color: #222;
  margin: 5px 0 5px;
}
.estimate p{
  font-size: 14px;
  color: #323232;
}
.estimate p.date{
  display: block;
  width: 100%;
  text-align: right;
  font-size: 14px;
  position: relative;
  top: -55px;
  margin-bottom: -50px;
}

.estimate .notes{
  display: block;
  padding: 20px 0 0;
}

.estimate .notes p:first-child{
  margin: 0 0 5px;
  font-weight: 500;
}
.estimate .notes p:last-child{
  margin: 0 0 5px;
  font-size: 13px;
  color: #777;
}
.estimate .notes p br{
  margin-bottom: 8px;
}

.invoice-table{
  width: 100%;
  margin: 50px 0;
}
.invoice-table table{
 width: 100%;
  font-family: inherit;
  border: 0px;
  border-collapse: collapse;
}
.invoice-table tr:first-child{
  background: #444;
}
.invoice-table th{
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  padding: 10px 15px;
  background: #474747;
  color: #fff;
  border:0;
  border-collapse: collapse;
}
.invoice-table tr th:nth-child(n+3),.invoice-table tr td:nth-child(n+3),.invoice-table tr td[colspan]{
  text-align: right;
}
.invoice-table td{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  padding: 10px 15px 20px;
  color: #535353;
  border: 0px;
  vertical-align: top;
}

.invoice-table td span{
  color: #333;
  font-size: 15px;
}

.invoice-table tr.sub-total{
  border-top: 1px solid #ddd;
}

.invoice-table .total td:not(:first-child){
  background: #f0f0f0;
  font-weight: bold;
  vertical-align: middle;
  padding-bottom: 10px;
}

.estimate-from{
  display: block;
  margin: auto;
  max-width: 600px;
  overflow: hidden;
}
.estimate-from .form-outer{
  border:1px solid #eee;
  border-radius: 4px;
}
.estimate-from ul.tabs{
  display: block;
  width: 100%;
  list-style: none;
  overflow: hidden;
}

.estimate-from ul .tab{
  display: block;
  width: 50%;
  float: left;
  background: #f8f8f8;
  padding: 15px 20px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  transition: ease all 0.3s;
}
.estimate-from ul .tab:hover,.estimate-from ul .tab.active{
  background: #efefef;
}
.estimate-from ul .tab{

}
.estimate-from ul .tab .icon{
  display: block;
  width: 40px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}
.estimate-from ul .tab p{
  margin: 0px;
  font-size: 22px;
  color: #000;
  font-weight: 500;
  line-height: 1.8;
}

#estimatePopUp{
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  max-width: 100vw !important;
  max-height: 100vh !important;
  display: none;
}
.lity-opened #estimatePopUp{
  display: block;
  overflow-y: auto;
}
.calculator .lity-close{
  display: none;
}
.estimate-from .tabs-content{
  display: block;
  padding: 0px 20px;
}
.estimate-from .tabs-content .tab{
  display: none;
  width: 100%;
  overflow: hidden;
}
.estimate-from .tabs-content .tab.active{
  display: block;
}


.estimate-from .tabs-content h2{
  display: block;
  font-size: 24px;
  margin: 0 0 25px;
  font-weight: 600;
  overflow: hidden;
}

.estimate-from .fab-radio label{
  display: block;
  width: 25%;
  margin: 20px 0 0;
  padding: 0px 10px;
  overflow: hidden;
}
.estimate-from .fab-radio label input{
  opacity: 0;
  position: absolute;
}

.estimate-from .fab-radio label .img{
  display: block;
  width: 100%;
  cursor: pointer;
}
.estimate-from .fab-radio label span{
  display: block;
  text-align: center;
  border: 0px;
  height: auto;
  bottom: 0;
  top: auto;
  margin: 0px;
  padding: 0;
  left: 10px;
  right: 10px;
  width: auto;
  font-size: 14px;
  line-height: 1;
  background: rgba(0,0,0,0.8);
  border-radius: 0;
  color: #fff;
  text-align: right;
  padding: 5px 20px 8px;
}

.estimate-from .fab-radio label span:before{
   display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border:1px solid #cbcbcb;
  top: 50%;
  margin-top: -9px;
  border-radius: 100px;
  left: 10px;
}

.estimate-from .fab-radio label span:after{
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  display: block;
  left: 14px;
  top: 8px;
  background: #ff616e;
  border-radius: 100px;
  opacity: 0;
  transition: ease all 0.5s;
}

.estimate-from .fab-radio label input:checked + .img span:after{
  opacity: 1;
}

.estimate-from .next{
  display: block;
  width: 100%;
  margin: 0 0 25px;
  text-align: right;
  overflow: hidden;
}

.estimate-from .tabs-content .ct-row h4{
  float: left;
  min-width: 200px;
  width: auto;
}
.estimate-from #customer .ct-row h4{
  width: 40%;
}
.estimate-from #customer .ct-row input[type="text"]{
  width: 60%;
}
.estimate-from .tabs-content .fab-radio.ct-row h4{
  width: 100%;
  float: none;
}

.page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 1000020;
  background: #fff;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;}
.loaded .page-loader {
  opacity: 0;
  pointer-events: none;
}
.loaded.complete .page-loader {
  display: none;
}
.page-loader span.logo {
  display: block;
  position: absolute;
  width: 150px;
  max-height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
}

.page-loader span.logo img{
  display: block;
  max-height: 100%;
}
