.header {
  display: block;
  width: 100%;
  background: #282828;
  color: #fff;
  padding: 10px 0;
  overflow: hidden; }
  .header .logo {
    display: block;
    float: left;
    overflow: hidden; }
    .header .logo a {
      display: block; }
      .header .logo a img {
        max-height: 25px; }
  .header .menu {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    overflow: hidden; }
    .header .menu li {
      display: inline;
      float: left;
      padding: 0px 15px;
      margin: 0;
      overflow: hidden; }
      .header .menu li a {
        display: block;
        color: #fff;
        font-size: 14px; }
        .header .menu li a:hover {
          color: #ef3645; }
        .header .menu li a img {
          max-width: 24px;
          max-height: 24px;
          margin-top: 2px; }

/*# sourceMappingURL=style.css.map */
